.grid-container {
  margin: 20px;
}

.layout {
  width: 95%;
}

table {
  width: 100%;
}

button {
  margin: 1.5rem 0;
}

mat-card {
  width: 95%;
}

p, h4 {
  margin: .25rem;
}

/* .mat-error {
  color: #ffff00;
} */