<div class="grid-container">
  <div><h1 class="mat-h1">Edit Volunteer</h1></div>
</div>

<form *ngIf="volunteer | async; else loading" [formGroup]="volunteerEditForm" (ngSubmit)="onSubmit(volunteerEditForm)" novalidate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="layout">
      <table>
        <tr fxLayout fxLayoutAlign="space-between">
          <td>
            <mat-form-field fxFlexFill>
              <mat-label>First Name</mat-label>
              <input
              matInput
              type="text"
              placeholder="First Name"
              formControlName="firstName">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field fxFlexFill>
              <input
              matInput
              type="text"
              placeholder="Last Name"
              formControlName="lastName">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div class="layout">
      <table>
        <tr fxLayout fxLayoutAlign="space-between">
          <td>
            <mat-form-field fxFlexFill>
              <input
              matInput
              type="email"
              placeholder="email"
              formControlName="email">
              <mat-error
                *ngIf="f.email.touched && f.email.errors">
                Please enter valid email.
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field
              fxFlexFill
              hintLabel="Must be 10 numbers only.">
              <input
              #phone
              matInput
              type="string"
              placeholder="Phone - ex: 1112223333"
              formControlName="phone">
              <mat-hint align="end">{{phone.value?.length || 0}}/10</mat-hint>
              <mat-error
                *ngIf="f.phone.touched && f.phone.errors">
                Please enter 10 numbers only!
              </mat-error>
            </mat-form-field>
            
          </td>
        </tr>
      </table>    
    </div>

    <div class="layout">
      <table>
        <tr fxLayout fxLayoutAlign="center center">
          <td>
            <mat-form-field fxFlexFill>
              <mat-label>Street</mat-label>
              <input
              matInput
              type="text"
              placeholder="Street"
              formControlName="street">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div class="layout">
      <table>
        <tr fxLayout fxLayoutAlign="space-between">
          <td>
            <mat-form-field fxFlexFill>
              <input
              matInput
              type="text"
              placeholder="City"
              formControlName="city">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field fxFlexFill>
              <mat-label>State</mat-label>
              <mat-select
                matInput
                formControlName="state">
                <mat-option value="OH">OH</mat-option>
                <mat-option value="MI">MI</mat-option>
                <mat-option value="IN">IN</mat-option>
                <mat-option value="PA">PA</mat-option>
              </mat-select>
              <mat-hint>Please choose a state.</mat-hint>
              <mat-error>State is required.</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field fxFlexFill>
              <input
              matInput
              type="text"
              placeholder="Zipcode"
              formControlName="zipcode">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>    


    <div class="layout">
      <table fxLayout fxLayoutAlign="space-between">
        <tr>
          <td>
            <section fxLayout="column" fxLayoutAlign="space-between">
              <mat-checkbox
               formControlName="isAvailable">Available
              </mat-checkbox>
              <mat-checkbox
                formControlName="isAdmin">Admin
              </mat-checkbox>
              <mat-checkbox
                formControlName="isEMoHC">EMoHC
              </mat-checkbox>
              <mat-checkbox
                formControlName="isLector">Lector
              </mat-checkbox>
              <mat-checkbox
                formControlName="isMassCord">Mass Coordinator
              </mat-checkbox>
            </section>
          </td>
        </tr>
        <tr>
          <td>
            <section fxLayout="column" fxLayoutAlign="space-between">
              <mat-checkbox 
                formControlName="isCantor">Cantor
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isUsher">Usher
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isServer">Server
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isTech">Technology
              </mat-checkbox>
            </section>
          </td>
        </tr>
        <tr>
          <td>
            <section fxLayout="column" fxLayoutAlign="space-between">
              <mat-checkbox 
                formControlName="isGifts">Gifts
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isGiftsChild">Child Gifts
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isRosary">Rosary
              </mat-checkbox>
              <mat-checkbox 
                formControlName="isOther">Other
              </mat-checkbox>
            </section>
          </td>
        </tr>
      </table>
    </div>

    <div class="form-buttons">
      <div fxLayout fxLayoutAlign="space-between">
        <div>
          <button
            mat-raised-button
            type="button"
            [routerLink]="['/volunteers']">
            <mat-icon>arrow_back</mat-icon>
            Volunteers
          </button>
        </div>
        <div>
          <button
            type="submit"
            value="Submit"
            mat-raised-button
            color="primary">
            Submit
          </button>
        </div>
        <div>
          <button
            type="button"
            [routerLink]="['/volunteers']"
            mat-raised-button
            color="accent">
            Cancel
          </button>
        </div>
      </div>
    </div>  
  </div>
</form>

<ng-template #loading>
  Loading Volunteer...
</ng-template>
