.main {
  text-align: center;
  padding-top: 2rem;
  height: 100vh;
  background-image: url(../../../assets/homepage.jpg);
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
}

h1, p {
  color: #424242;
}

.cta {
  margin-top: 3rem;
  padding: 0 1rem;
}