<div class="main">
<div class="grid-container">
    <div><h1 class="mat-h1">Dashboard</h1></div>
    <div class="dashboard-items">
  <div fxLayout="row" fxLayoutAlign="space-between">
      <div><h3 class="mat-h1">Events</h3></div>
    <div>
      <button
        mat-raised-button
        matRipple
        [routerLink]="['/add-event']">
        <mat-icon>add</mat-icon>
        Add Event
      </button>
    </div>
  </div>
      <app-evt-table></app-evt-table>
  </div>
  <div class="dashboard-items">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div><h3 class="mat-h1">Volunteers</h3></div>
    <div>
      <button
        mat-raised-button
        matRipple
        [routerLink]="['/add-volunteer']">
        <mat-icon>add</mat-icon>
        Add Volunteer
      </button>
    </div>
  </div>
      <app-vol-table></app-vol-table>
  </div>
</div>
</div>