<div class="grid-container">
    <div><h1 class="mat-h1">Edit Event</h1></div>
  </div>
  
  <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
          matInput
          type="text"
          class="form-control"
          name="evtType"
          #eventType="ngModel"
          [(ngModel)]="event.evtType"
          placeholder="Event Type"
          minlength="2"
          required>
        </mat-form-field>
      </div>
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
            matInput
            type="text"
            class="form-control"
            name="date"
            #eventDate="ngModel"
            [(ngModel)]="event.evtDate"
            [matDatepicker]="picker"
            placeholder="Choose a date"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="layout">
        <section class="example-section">
          <mat-checkbox 
            name="isFull" [(ngModel)]="event.evtIsFull">Event is Full</mat-checkbox>
        </section>
      </div>
      <button
        mat-button
        type="submit"
        value="Submit"
        mat-stroked-button
        >Submit</button>
        
    </div>
  </form>