.grid-container {
  margin: 20px;
}

.layout {
  width: 60%;
}

table { 
  width: 100%
}

section {
  margin: 1.0rem 0;
}

td {
  width: 100%;
  margin: 0px 4px;
}

.form-buttons {
  margin-top: 1.5rem;
  width: 30%;
}


