<div class="grid-container">
    <div><h1 class="mat-h1">Add Volunteer</h1></div>
  </div>
  
  <form #volunteerForm="ngForm" (ngSubmit)="onSubmit(volunteerForm)">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
          matInput
          type="text"
          class="form-control"
          name="firstName"
          #volFirstName="ngModel"
          [(ngModel)]="volunteer.firstName"
          placeholder="First Name"
          minlength="2"
          required>
        </mat-form-field>
      </div>
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
          matInput
          type="text"
          class="form-control"
          name="lastName"
          #volLastName="ngModel"
          [(ngModel)]="volunteer.lastName"
          placeholder="Last Name"
          minlength="2"
          required>
        </mat-form-field>
      </div>
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
          matInput
          type="text"
          class="form-control"
          name="email"
          #volEmail="ngModel"
          [(ngModel)]="volunteer.email"
          placeholder="Email"
          minlength="2"
          required>
          </mat-form-field>
      </div>  
      <div class="layout">
        <mat-form-field fxFlexFill>
          <input
          matInput
          type="text"
          class="form-control"
          name="phone"
          #volPhone="ngModel"
          [(ngModel)]="volunteer.phone"
          placeholder="Phone"
          minlength="2"
          required>
        </mat-form-field>
      </div>
      <div class="layout">
        <table>
          <tr>
            <td>
              <section fxLayout fxLayoutAlign="space-between">
                <mat-checkbox
                  name="isAvailable" [(ngModel)]="volunteer.isAvailable">Is Available?
                </mat-checkbox>

                <mat-checkbox
                  name="isAdmin" [(ngModel)]="volunteer.isAdmin">Is Admin?
                </mat-checkbox>

                <mat-checkbox
                  name="isEMoHC" [(ngModel)]="volunteer.isEMoHC">Is EMoHC?
                </mat-checkbox>
    
                <mat-checkbox
                  name="isLector" [(ngModel)]="volunteer.isLector">Is Lector?
                </mat-checkbox>
              </section>

            </td>
          </tr>
          <tr>
            <td>
              <section fxLayout fxLayoutAlign="space-between">
                <mat-checkbox 
                  name="isCantor" [(ngModel)]="volunteer.isCantor">Is Cantor?
                </mat-checkbox>

                <mat-checkbox 
                  name="isUsher" [(ngModel)]="volunteer.isUsher">Is Usher?
                </mat-checkbox>

                <mat-checkbox 
                  name="isServer" [(ngModel)]="volunteer.isServer">Is Server?
                </mat-checkbox>

                <mat-checkbox 
                  name="isTech" [(ngModel)]="volunteer.isTech">Is Technology?
                </mat-checkbox>
              </section>
            </td>
          </tr>
          <tr>
            <td>
              <section fxLayout fxLayoutAlign="space-between">
                <mat-checkbox 
                  name="isGifts" [(ngModel)]="volunteer.isGifts">Is Gifts?
                </mat-checkbox>

                <mat-checkbox 
                  name="isGiftsChild" [(ngModel)]="volunteer.isGiftsChild">Is Child Gifts?
                </mat-checkbox>

                <mat-checkbox 
                  name="isRosary" [(ngModel)]="volunteer.isRosary">Is Rosary?
                </mat-checkbox>

                <mat-checkbox 
                  name="isOther" [(ngModel)]="volunteer.isOther">Is Other?
                </mat-checkbox>
              </section>
            </td>
          </tr>
        </table>
      </div>
      <button
        mat-button
        type="submit"
        value="Submit"
        mat-stroked-button
        >Submit</button>
        
    </div>
  </form>
